.mg-bottom-sm {margin-bottom: 1rem !important;}
.mg-bottom-md {margin-bottom: 2rem !important;}
.mg-bottom-lg {margin-bottom: 4rem !important;}
.mg-bottom-hg {margin-bottom: 8rem !important;}

.mg-top-sm {margin-top: 1rem !important;}
.mg-top-md {margin-top: 2rem !important;}
.mg-top-lg {margin-top: 4rem !important;}
.mg-top-hg {margin-top: 8rem !important;}

