$color-primary: #e85137;
$color-primary-light: #ff3d1f;
$color-primary-dark: #b32f2f;
$color-secondary: #d24fce;
$color-secondary-light: #f674f2;
$color-secondary-dark: #882181;
$color-tertiary: #669aba;
$color-tertiary-light: #71cee8;
$color-tertiary-dark: #325a89;
$color-white: #f9f9f9;
$color-black: #0a0a0a;
$color-grey-light-1: #f5e8e8;
$color-grey-light-2: #e4dfdf;
$color-grey-light-3: #d0cbcb;
$color-grey-dark-1: #928e8e;
$color-grey-dark-2: #726e6e;
$color-grey-dark-3: #494848;

$main-font-family: 'Nunito', sans-serif;
